Hello {{user.firstName}}. Please click on the link below to complete your activation: <a href="http://localhost:3000/users/verificate?email={{user.email}}&verificationToken={{user.verificationToken}}">http://localhost:3000/activate/</a>
